form{
    background-color: #213b50;
    width: 55%;
    padding: 3vh;
    color: white;
}

form > input,select,textarea{
    padding-bottom: 1vh;
    background-color: #2b4a64;
    width: 50%;
    color: white;
    border: none;
}

form > input[type="radio"]{
    width: auto;
}

form > input[type="checkbox"]{
    width: auto;
}



input[type="submit"]{
    background-color: green;
    padding: 1.5vh;
    margin-top: 2vh;
    width: 12vh;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}
